<!-- TODO -->
  <style>
   .round {
    width: 150px;
    height: 150px;
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid green; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */

   }
  </style>

<div class="container">
  <div class="pt-5">
  <br>
    <div class="row">
      <div class="col-2 pt-1">
        <%= image_tag(@user.avatar_thumbnail, {:class => "round"})%>
      </div>
      <div class="col-4 pt-1">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <p><%= @user.description %></p>
          <% @user.rating.to_i.times do %>
          <i class="fa fa-star" style="color: #ffde00"></i>
        <% end %>
      </div>
    </div>
  </div>
  
  
<div class="row">
  <div class="pt-3">
    <div class="col-4 pt-1">
  <% if @user == current_user %>
  <div class="d-flex justify-content-left"><%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-success" %></div>
  <% end %>
</div>
</div>
</div>

<hr>
<h4 class="d-flex justify-content-center"> Історія </h4>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Task_id</th>
      <th scope="col">Task</th>
      <th scope="col">Client</th>
      <th scope="col">Implementer</th>
      
      <th scope="col">Status</th>
      <th scope="col">Result</th>
      <th scope="col">Confirm</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>

  <% Order.where(client_id: @user.id).or(Order.where(implementer_id: @user.id)).each do |order| %>
    <tr>
      <td><%= order.task_id %></td>
      <td><%= Task.find(order.task_id).title %></td>
      <td><%= link_to User.find(order.client_id).email , profile_user_path(order.client_id), class: 'nav-link'%></td>
      <td><%= link_to User.find(order.implementer_id).email , profile_user_path(order.implementer_id), class: 'nav-link'%></td>
      <td><%= order.status %></td>
      <% if Task.find(order.task_id).file.present? %>
        <td><%= link_to 'Download' , Task.find(order.task_id).file, download: '' %>
          <% else %>
          <td><p><%= link_to 'Show task', task_path(order.task) %></p></td>
      <% end %>

      <% if order.status == 'in_progress' and User.find(order.implementer_id) == current_user %>
      <td><h5>Please complete the task </h5></td>
      <% if Task.find(order.task_id).file.present? %>
     <td><%= link_to "Confirm", complete_order_path(order), class: 'btn btn-success' %></td>
     <%end%>
        <% elsif order.status == 'ordered' and User.find(order.implementer_id) == current_user %>
        <td><h5>Task has been completed </h5></td>
            <!--<td><#%= button_to "New", action: "complete", remote: true %></td>-->
        <% else %>
            <td><h5>Complete task to confirm</h5></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


