<!-- TODO -->

<div class="pt-5">
  <br>
<h1><%= @user.email %></h1>
    <%= image_tag(current_user.avatar_thumbnail) %>
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
</div>
<img src="https://www.meme-arsenal.com/memes/8f8c4e9b4fe761093beddc3aeab6993b.jpg" height="500px">
<h5>Форма с first name и last name будет перенесена в edit account</h5>

<h5> History </h5>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Implementer</th>
      <th>Task</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

<% Order.where(client_id: @user.id).each do |order| %>
 <tr>
        <td><%= order.client_id %></td>
        <td><%= link_to 'order.implementer_id', users_profile_path(order.implementer_id), class: 'nav-link'%></td>
        <td><%= order.task_id %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', Task.find(order.task_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-success" %>