<!DOCTYPE html>
<html>
  <head>
    <title>Chillpal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
 <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
<style>
html,body{
height:100%;
margin:0;
padding:0;
}
#wrapper{
display: table;
height:100%;
}
#header{

}
#footer{
display: table-row;
height:10%;
}
#wrapper, #footer{
width:100%;
}
#content{
}
 </style>

<body>
<div id="wrapper">
<div id="header">
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><strong><span style="color: #000000;">Study</span><span style="color: #018c4b;">Hub</span></strong></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="/about"><strong>Про нас</strong></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="/faq"><strong>FAQ</strong></a>
                  </li>
                  <% if current_user %>
                                  <% if current_user.role == 'student' %>
                                  
                    <strong><%= link_to 'Create a task', new_task_path, class: 'nav-link active'%></strong>
                
                    <% end %>
                    <% end %>
                </ul>
              </div>
                        <% if current_user %>
                        <%= link_to current_user.email, profile_user_path(current_user), class: 'btn btn-success btn-sm'%>&emsp;
                    <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-success text-end btn-sm'%>
                  <% else %>
                  <div style="right: 1000px;">
                   <%= link_to 'Вхід',new_user_session_path,class: 'btn btn-success btn-sm'%>
                  <% end %>
            </div>
          </nav>
    </header>
</div>
<div id="content">



    <!--<div class="container pt-5">
      <div class="row pt-5">
      
      <div class="col-3 pt-3">
  <div class="card bg-light h-1">
    <div class="card-body text-center">
      
    </div>
  </div>
  </div>
  
</div>
</div>-->


    <%= yield %>




</div>
<div id="footer">
      <div class="footer">  
    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Google -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
          ></a>

          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>

          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>

</div>
</div>
</body>


</html>